/* regular custumers */
.regular-customers{
    
    @media screen and (min-width: 480px) {
      padding-top: 60px;
    padding-bottom: 60px;
    }
  
    @media screen and (min-width: 768px) {
      padding-top: 60px;
    padding-bottom: 60px;
    }
  
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;

    }
  }
  
  .customers__h2{
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;

  @media screen and (min-width: 480px) {
  font-size: 26px;
  margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
  font-size: 28px;
  margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
   font-size: 36px;
   margin-bottom: 50px;
  }
  }
  
  .customers-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .customers-list__item{
    @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
    }
    
    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
    }
    }
  
  .customers-list > .item:hover,
  .customers-list > .item:focus{
    cursor: pointer;
    border-color: var(--accent-color);
  }
  
  .customers__link{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .customer__svg{
    fill: #AFB1B8;
    transition-property: fill ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .customer-svg:hover,
  .customer-svg:focus{
    fill: var(--accent-color);
  }